/* Universal Properties */



/* Header */
.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#title-menu {
  display: inline-flex;
}

.header p {
  color: MediumAquamarine;
  margin: auto 0;
}

.header nav span {
  display: inline-block;
}

.header a {
  color: black;
}

/* Main Content */
.main-content {
  border: 1px solid black;
  position: relative;
  top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-col {
  border: 1px solid black;
  width: 630px;
  display: inline-flex;
  flex-direction: column;
}

.left-col p, h2 {
  width: 100%;
}

.borders {
  border-bottom: 1px solid black;
}

.mid-col {
  border: 1px solid black;
  width: 300px;
  display: inline-flex;
  flex-direction: column;
}

.right-col {
  border: 1px solid black;
  width: 240px;
  display: inline-flex;
  flex-direction: column;
}

.borders {
  border: 1px solid black;
}

/* Background Photos */

#main-pic {
  background: "/resources/img/img-story-1.png"
}
